@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.2rem 10.5rem;
  background: url(/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  min-height: 43.4rem;
  height: 100%;
}

header .logo {
  width: 12.3rem;
  height: 100%;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .links {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: white;
  position: relative;
  font-family: "Alata", sans-serif;
}

header .links::after {
  content: '';
  position: absolute;
  width: 0;
  opacity: 0;
  height: 2px;
  left: 1.5rem;
  bottom: -0.1rem;
  background-color: white;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

header .links:hover::after {
  opacity: 1;
  width: 40%;
}

header .open-menu {
  font-size: 1.9rem;
  color: white;
  cursor: pointer;
  display: none;
}

header .title {
  border: 2px solid white;
  max-width: 43.5rem;
  padding: 2.6rem 2.6rem 2.8rem 2.8rem;
  color: white;
  margin-top: 8.7rem;
}

header h1 {
  font-size: 4.8rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* #root {
  max-width: 96rem;
  margin: 0 auto;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
} */
html {
  font-size: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.interactive {
  min-height: 53.2rem;
  background-color: white;
  padding: 9.5rem;
  position: relative;
}

.interactive img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 48.5rem;
  min-width: 33.8rem;
}

.interactive .interactive-text {
  display: block;
  position: absolute;
  max-width: 45rem;
  width: 90%;
  background-color: white;
  top: 45%;
  left: 52%;
  padding: 6rem;
  text-align: left;
  width: 90%;
}

.interactive h2 {
  font-size: 3rem;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.interactive p {
  padding-top: 3rem;
  color: #8c8c8c;
  line-height: 1.7;
}

.creations-container {
  min-height: 85.6rem;
  padding: 5rem;
}

.creations-container .creations-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem 0;
}

.creations-container h3 {
  font-size: 3.2rem;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.creations-container button {
  display: inline-block;
  padding: 0.9rem 2.3rem 0.8rem 2.3rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid dimgray;
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  letter-spacing: 0.3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.creations-container button:hover {
  color: white;
  background-color: black;
}

.creations-container .creations-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.creations-container h4 {
  position: absolute;
  font-size: 2.2rem;
  color: white;
  bottom: 1.7rem;
  left: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 8rem 0 1.5rem;
}

.creations-container .creations-img {
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.creations-container .creations-img:hover {
  opacity: 0.4;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.creations-container img {
  min-height: 29.8rem;
  min-width: 17rem;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creations-container .earth {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.creations-container .arcade {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.creations-container .soccer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.creations-container .grid {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.creations-container .above {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.creations-container .borealis {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.creations-container .curiosity {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.creations-container .fisheye {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
}
/*# sourceMappingURL=main.css.map */