header {
  display: flex;
  flex-direction: column;
  padding: 4.2rem 10.5rem;
  background: url(/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  min-height: 43.4rem;
  height: 100%;
  @include respond(large) {
    padding: 4.2rem 7rem;
  }

  @include respond(medium) {
    padding: 3.5rem 2rem;
    background: url(/mobile/image-hero.jpg);
    background-position: center;
    background-size: cover;
  }

  @include respond(small) {
    min-height: 100vh;
    padding: 5rem 2rem;
  }

  .logo {
    width: 12.3rem;
    height: 100%;
    cursor: pointer;
    @include respond(medium) {
      z-index: 1000;
      width: 10rem;
    }
  }

  nav {
    @include flex(space-between, center, row);
  }

  .main-menu {
    display: flex;

    @include respond(medium) {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 999;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background: $Black;
      transition: top 1s ease;
      padding: 0 2rem;
      gap: 2rem;
      font-size: 2rem;
      display: none;
    }
  }

  .links {
    display: inline-block;
    padding: 0.3rem 1rem;
    color: $White;
    position: relative;
    font-family: $alata-family;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      opacity: 0;
      height: 2px;
      left: 1.5rem;
      bottom: -0.1rem;
      background-color: $White;
      transition: width 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
      width: 40%;
    }
  }

  .open-menu {
    font-size: 1.9rem;
    color: $White;
    cursor: pointer;
    display: none;

    @include respond(medium) {
      display: block;
    }
  }

  .close-menu {
    height: 2rem;
    cursor: pointer;
    display: none;

    @include respond(medium) {
      display: block;
      position: absolute;
      top: 3.7rem;
      right: 2rem;
    }

    @include respond(small) {
      top: 5rem;
    }
  }

  .title {
    border: 2px solid $White;
    max-width: 43.5rem;
    padding: 2.6rem 2.6rem 2.8rem 2.8rem;
    color: $White;
    margin-top: 8.7rem;

    @include respond(medium) {
      max-width: 30rem;
      padding: 2rem;
      margin: auto;
    }
    @include respond(small) {
      padding: 1rem;
    }
  }

  h1 {
    font-size: 4.8rem;
    font-family: $josefin-family;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 300;
    @include respond(medium) {
      font-size: 2.7rem;
    }
    @include respond(small) {
      font-size: 2.8rem;
    }
  }
}
