@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'header';
@import 'general';

.interactive {
  min-height: 53.2rem;
  background-color: $White;
  padding: 9.5rem;
  position: relative;

  img {
    display: block;
    object-fit: cover;
    min-height: 48.5rem;
    min-width: 33.8rem;
  }

  .interactive-text {
    display: block;
    position: absolute;
    max-width: 45rem;
    width: 90%;
    background-color: $White;
    top: 45%;
    left: 52%;
    padding: 6rem;
    text-align: left;
    width: 90%;
  }

  h2 {
    font-size: 3rem;
    color: $Black;
    font-family: $josefin-family;
    text-transform: uppercase;
  }

  p {
    padding-top: 3rem;
    color: $Dark-Gray;
    line-height: 1.7;
  }
}
